.App {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.downloadbtn {
  background: #262b40;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: unset;
  position: absolute;
  right: 0;
  top: -62px;
  /* Adjust the top position as needed */
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 10px;
  border-radius: 10px;
}

.downloadbtn:hover {
  background: white;
  color: black;
  border-width: 3px;
  border-color: black;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-top: 100px;
  width: 100%;
}

/* td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center; 
    font-weight: 100;
  } */
td {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

th {
  border: 2px solid #000000;
  text-align: center;
  padding: 12px;
  /* Adjust the padding as needed */
  font-size: 26px;
  /* Adjust the font-size as needed */
  font-weight: bold;
  /* Make the text bold */
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.upload-btn {
  margin-right: 10px;
}

.action-btn {
  background: #5d6a9e;
  color: white;
  padding: 5px 10px;
  margin-right: 25px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;

}

.action-btn:hover {
  background: black;
  color: white;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}